body{
    font-size: 18px;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: white !important; 
    border-radius: 0;
    border: 0;
    margin: 0% 10% 0% 10%;
    padding: 8px 15px 8px 15px;
}

/** FONT SIZES **/
h4{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 0.6em;
    font-weight: 700;
    margin-bottom: 0.4em;
}

h3{
    font-weight: 800;
    margin-bottom: 0em;
}

/** CONTENT **/
.section{
    margin: 0% 10% 0% 10%;
    padding: 30px 15px 30px 15px;
}
#memoji{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#intro{
    padding: 50px 0px 0px 0px;
}

/** PROJECTS **/
#projects{
    padding-top: 50px;
    padding-bottom: 70px;
}
.btn_explore{
    mix-blend-mode: darken;
    /* background-image: url('../images/trees.webp'); */
    cursor: pointer;
    height: 300px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 22.36%, rgba(0, 0, 0, 0) 100%), url(../images/trees_copy.png);
    background-size: 130%;
    border-radius: 10%;
    border: none;
    text-align: center;
}
.btn_helping{
    mix-blend-mode: darken;
    /* background-image: url('../images/trees.webp'); */
    cursor: pointer;
    height: 300px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 22.36%, rgba(0, 0, 0, 0) 100%), url(../images/people.webp);
    background-size: 130%;
    border-radius: 10%;
    border: none;
    text-align: center;
}
.btn_safe{
    mix-blend-mode: darken;
    /* background-image: url('../images/trees.webp'); */
    cursor: pointer;
    height: 300px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 22.36%, rgba(0, 0, 0, 0) 100%), url(../images/passport.webp);
    background-size: 130%;
    border-radius: 10%;
    border: none;
    text-align: center;
}
.btn_ai{
    mix-blend-mode: darken;
    /* background-image: url('../images/trees.webp'); */
    cursor: pointer;
    height: 300px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 22.36%, rgba(0, 0, 0, 0) 100%), url(../images/data.webp);
    background-size: 130%;
    border-radius: 10%;
    border: none;
    text-align: center;
}
.btn span{
    color: white;
    font-weight: 800 !important;
    display: block;
    /* position: absolute;
    text-align: center;
    top: 20%; */
}
#projects .row{
    padding-top: 30px;
}
#card{
    padding-top: 15px;
    padding-bottom: 15px;
}

/** PROJECT PAGES **/
#hh_gradient{
    background: linear-gradient(90.04deg, #F9C58D, #F492F0);
}

#navbar-transparent{
    background: transparent;
}
#single-award{
    font-family: 'Roboto Flex', sans-serif;
    font-size: .7em;
    font-weight: 700;
    display: inline-block;
    white-space: nowrap;
    margin-right: 0.8em;
}
#single-award a{
    color: black;
}
#single-award a:visited{
    color: black;
}
#single-award a:hover{
    text-decoration-line: none;
}

h5{
    font-size: 1.2em;
    font-weight: 800;
    display:inline;

}
#technicaltext{
    font-size: 0.9em;
}
.svg-icon.svg-baseline svg {
    top: .125em;
    position: relative;
  }



/** FOOTER **/
#socials{
    text-align: center;
}
#icon{
    padding: 0% 1% 0% 1%;

}
#icons{
    text-align: center;
    padding-top: 5px;
}
footer{
    background: #F5F5F7;
    padding: 30px 0px 30px 0px;
}


