/** BACKGROUND GRADIENT **/
.magicpattern { 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width=%221000%22 height=%22667%22%3E%3Cg filter=%22url(%23a)%22%3E%3Cpath fill=%22%2317B978%22 d=%22M-500-333.5h2000v1334H-500z%22%2F%3E%3Cpath d=%22m409-110-689 323L67 691l408-266%22 fill=%22%23A7FF83%22%2F%3E%3Cpath d=%22M553-169 63 276l130 363 655-301%22 fill=%22%23086972%22%2F%3E%3Cpath d=%22M793 181 494 733l641 180 57-385%22 fill=%22%23A7FF83%22%2F%3E%3Cpath d=%22m176 136-350 176 385 569 415-711M765 547l-574 460 125 196 543-204%22 fill=%22%23086972%22%2F%3E%3Cpath d=%22M596 565 433 707l494 586 275-543%22 fill=%22%23086972%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3Cfilter id=%22a%22 x=%22-137%22 y=%22-137%22 width=%221274%22 height=%22941%22 filterUnits=%22userSpaceOnUse%22 color-interpolation-filters=%22sRGB%22%3E%3CfeFlood flood-opacity=%220%22 result=%22BackgroundImageFix%22%2F%3E%3CfeBlend in=%22SourceGraphic%22 in2=%22BackgroundImageFix%22 result=%22shape%22%2F%3E%3CfeGaussianBlur stdDeviation=%22137%22 result=%22effect1_foregroundBlur_1_2%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

html, body {
    overflow-x: hidden;
}

/* .container {
    width: 100%;
} */

/** FONTS */
h1{
    font-family: 'Inter';
    font-size: 50px;
    color: white;
}
h2{
    font-family: 'Inter';
    font-size: 25px;
    color: white;
    padding-top: 5%;
    padding-bottom: 0.5%;
}
h3{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 30px;
}
h4{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 18px;
}
h5{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 15px;
}
h6{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
    padding-top: 7%;
    color: white;
}
#project-git{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 28px;
}
#single-award{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 1%;
    align-content: center;
}
#single-award a{
    color: black;
}
#single-award a:visited{
    color: black;
}

/* INTRO */
#memoji{
    margin-bottom: 10%;
}
.words{
    text-align: left;
}
.intro{
    padding: 10%;
}
.intro a{
    color: white;
    text-decoration: underline;
}

/* ICONS */
.icon{
    text-decoration: none;
    padding: 0% 1% 0% 1%;
}
.icon:hover{
    text-decoration: none;
}
.awardicon{
    text-decoration: none;
    padding-right: 1%;
}
.awardicon:hover{
    text-decoration: none;
}
#project-git a{
    padding-left: 0.5%;
    padding-bottom: 2%;
}

/* PROJECTS */ 
.projects{
    margin-right: 8%;
    padding: 3%;
    border-radius: 15px;
}
div.transbox{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 3%;
}
.carousel-item{
    overflow-x: auto;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
}

/* LANGUAGES */
.language{
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.7);
    width: fit-content;
    font-size: 15px;
    padding-left: 1%;
    padding-right: 1%;
    display: inline-block;
    margin-right: 1%;
}
.aws{
    background-color: #fde4cf;
}
.docker{
    background-color: #a3c4f3;
}
.python{
    background-color: #90dbf4;
}
.solidity{
    background-color: #f1c0e8;
}
.truffle{
    background-color: #b9fbc0;
}
.node{
    background-color: #98f5e1;
}
.javascript{
    background-color: #fbf8cc;
}
.rust{
    background-color: #ffcfd2;
}
.c{
    background-color: #ffc0d3;
}
.java{
    background-color: #c8f0f8;
}
.html{
    background-color: #d6f6dd;
}
.css{
    background-color: #cfbaf0;
}
.gradle{
    background-color: #8eecf5;
}
.cpp{
    background-color: #f9c6c9;
}
.qt{
    background-color: #ccd5ae;
}
/** INTERESTS **/
.interest{
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.7);
    width: fit-content;
    font-size: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 2%;
    background: rgba(255, 255, 255, 0.2);
    font-weight: 600;
}
.interests{
    margin-right: 8%;
}